textarea{
    height: 70vh;
}
.result{
    padding:10px;
    background: #fff;
    height: 70vh;
    h3{
        &.valid{
            color:#01DF01
        }
        &.error{
            color:#FE2E2E;
        }
    }
}
ul{
    padding-left: 0;
    li{
        list-style: none;
        span{
            padding:5px;
        }
    }
}

.err{
    color:#FE2E2E;
}
.buttons{
    padding:10px;
    button{
        margin-right: 10px;
    }
}
