<div nz-row>
  <div nz-col nzSm="12" nzXs="24">
    <textarea row="4"  (keyup)="onInput()" nz-input [(ngModel)]="content" placeholder="Enter some javascript code here..."></textarea>
  </div>
  <div nz-col nzSm="12" class="result" nzXs="24">
    <ng-container *ngIf="content!='' && content!=undefined; else isEmpty">
        <ng-container *ngIf="valid; else showError">
          <h3 class='valid'>Result: Javascript is Valid.</h3>
        </ng-container>
        <ng-template #showError>
          <div *ngIf="errors!=undefined">
            <h3 class='error'>Result: ({{errors.length}} error{{errors.length==1?'':'s'}} found)</h3>
            <nz-table #basicTable [nzData]="errors" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Evidence</th>
                  <th>Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let error of errors;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{error.evidence}}</td>
                  <td>{{error.reason}}</td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </ng-template>
    </ng-container>
    
    <ng-template #isEmpty>
      <h3>Please enter javascript code in the textbox to detect errors and view report.</h3>
    </ng-template>
  </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24" class="buttons">
        <button nz-button nzType="primary" (click)="tryInput('valid')">Valid JS</button>
        <button nz-button nzType="default" (click)="tryInput('oneerror')">With 1 error</button>
        <button nz-button nzType="danger" (click)="tryInput('moreerror')">More than 1 error</button>
        <button nz-button nzType="default" (click)="tryInput('clear')">Clear</button>
    </div>
</div>


